<div id="main-page">
  <h1>IronQuestions</h1>
  <p>Bienvenido a IronQuestions! perro</p>

  <img src="../images/ironLogo.jpg" alt="" style="width: 250px">

  <h3>Tienes una cuenta? Entra <a href="/login">aqui</a> </h3>
    <br>
  <h3>No tienes cuenta? Crea una <a href="/signup">aqui</a></h3>
</div>