<h1>Questions</h1>

<form class="" action="/questions/add" method="post">
    <label for="name">{{user.username}}</label>
 <label for="name">Pregunta:</label>
 <input type="text" name="preguntita" value="" placeholder="Pregunta" required>
</form>