<h2 style="margin-left:300px">Con ayuda de: <img src="images/stackoverflow.jpg" alt=""></h2>
<div id="login-container">
  <form action="/login" method="POST" >
    <div>
      <label for="username"><h3>Nombre de Usuario:</h3></label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password"><h3>Contraseña</h3></label>
      <input type="password" name="password">
    </div>
    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}
    <div>
      <input type="submit" value="Log In">
    </div>
    <br>
    Acabas de recordar que no tienes cuenta? Vaya, pero que imbecil eres! No hay problema, registrate <a href="/signup">aqui</a>

    <br>
    <br>
    <a href="/">Menu prinicipal</a>
  </form>
</div>