
<div id="signup-container">
<h1>Registrate carnal </h1>
<form action="/signup" method="POST" id="form-container">
  <label for="username" style="margin-top: 70px"><h3>Tu nombre va aqui tontin</h3></label>
  <input type="text" name="username" placeholder="tu nombre" id="username">
    <br>
  <label for="email"><h3>Email</h3></label>
  <input type="text" name="mail" placeholder="gatitos.lindos@noHomo.com">
    <br>
  <label for="password"><h3>Contraseña</h3></label>
  <input type="password" name="password" id="password" placeholder="Contraseña">
    <br>
  {{#if message}}
  <div class="error-message">
    {{message}}
  </div>
  {{/if}}

  <button type="submit" class="btn btn-info">Crea tu cuenta</button>  
    <br>
  <p class="account-message">
    Ya tienes una cuenta? <a href="/login">Ingresa</a>
  </p>
  <br><br>
  <span>Regresame al <a href="/">menu principal</a> </span>
</form>
</div>
<br>
<h2 style="margin-left:300px" id="bottom-signup">Con ayuda de: <img src="images/wikipedia.jpeg" alt="" id="wikipedia-image"></h2>
